html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{font-size: 62.5%;}
body {
  font-family: "intel-clear", "intel-clear-cyrillic", "SimHei","SimSun",Arial,sans-serif !important;
  line-height: 1;
  background: #080f18 url(../img/bg.jpg) repeat-y center 0;
  background-size: 100% auto;
}
body, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  display: block;
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none !important;
}
.op0{
  opacity: 0;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000 url(../img/loading.gif) no-repeat center center;
  background-size: 80px 80px;
  top: 0;
  z-index: 200;
  color: #fff;
  text-align: center;
}
.load_core{
  width: 100%;
  position: absolute;
  text-align: center;
  top:50%;
  font-size: 16px;
  padding-top: 30px;
}
.for_loading{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -999999px;
}

video{
  width: 100%;
  position: relative;
  z-index: 2;
  top: 0;
}
.video_img{
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}
#xingge2_img{
  z-index: 1;
}
#xingge2{
  z-index: 2;
}
#xingge1{
  opacity: 0;
}
.page_xingge video{
  position: absolute;
}
/*.bg_1{
  background: url(../img/bg_1.jpg) no-repeat center 0;
  background-size: 100% auto;
}*/
.wrapper{
  height: 100% !important;
    height: 100%;
    /*width: 100%;*/
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
}
.main{
  float: left;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: transform 0.6s ease 0s;
}
.main > *{
  width: 100%;
  height: 100%;
  position: relative;
}
.down_tip {
    position: absolute;
    background: url("../img/down.png") no-repeat;
    background-size: 14px 20px;
    bottom: 1%;
    height: 20px;
    width: 14px;
    left: 50%;
    text-align: center;
    opacity: 0;
    margin-left: -7px;
    -webkit-animation: ToptoA 1.6s ease-out infinite;
    -moz-animation: ToptoA 1.6s ease-out infinite;
    -o-animation: ToptoA 1.6s ease-out infinite;
    z-index: 100;
}
@-webkit-keyframes ToptoA {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0
    }
    20% {
        -webkit-transform: translate(0, -10px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 0
    }
}

@-moz-keyframes ToptoA {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0
    }
    20% {
        -moz-transform: translate(0, -10px);
        opacity: 1
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 0
    }
}

@-o-keyframes ToptoA {
    0% {
        -o-transform: translate(0, -20px);
        opacity: 0
    }
    20% {
        -o-transform: translate(0, -10px);
        opacity: 1
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 0
    }
}
.animated {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.logo{
  position: absolute;
  left: 5%;
  top: 4%;
  z-index: 102;
  width: 38px;
  height: 24px;
  background: url("../img/logo.png") no-repeat;
  background-size: 38px 24px;
}
.slogan_wrap{
  width: 100%;
  height: 60px;
  position: absolute;
  text-align: center;
  bottom: 4%;
  z-index: 4;
}
.turn{
  width: 25px;
  display: block;
  margin: -6px auto -6px;
}
.slogan{
  min-width: 200px;
  height: 56px;
  display: inline-block;
  line-height: 56px;
  background: url(../img/slogan_bg.png) repeat-x 0 center;
  background-size: 1px 56px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin: 0 14px;
  padding: 0 3px;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
}
.slogan::before,
.slogan::after{
  content: '';
  width: 14px;
  height: 56px;
  background: url(../img/slogan_left.png) no-repeat 0 center;
  background-size: 14px 56px;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  margin-left: -14px;
}
.slogan::after{
  background-image: url(../img/slogan_right.png);
  display: block;
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -14px;
}
.slogan span{
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

.main{
}
.page_list{
  width: 100%;
  height: 100%;
  background: url(../img/list_bg_2.jpg) no-repeat center 0;
  background-size: 100% auto;
  overflow: hidden;
}
.bottles{
  width: 320px;
  height: 320px;
  position: relative;
  background: url(../img/list_circle.png) no-repeat center 30%;
  background-size: 80% auto;
  margin: 20% auto;
  z-index: 1;
}
.bottles li{
  width: 140px;
  height: 20px;
  padding-top: 140px;
  text-align: center;
  color: #fff;
  background: url(../img/bottle/bottle_huancai.png) no-repeat center 0;
  background-size: 140px 140px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -40px 0 0 20px;
  z-index: 1;
}
#bottle_1{
  margin: -40px 0 0 163px;
  background-image: url(../img/bottle/bottle_wujie.png);
}
#bottle_2{
  margin: 100px 0 0 -30px;
  background-image: url(../img/bottle/bottle_ganguan.png);
}
#bottle_3{
  margin: 100px 0 0 210px;
  background-image: url(../img/bottle/bottle_chaobo.png); 
}
#bottle_4{
  margin: 180px 0 0 93px;
  background-image: url(../img/bottle/bottle_xingge.png);
}

#bottle_3ddd{
  width: 300px;
  height: 20px;
  padding-top: 300px;
  background-size: 300px 300px;
  margin: 0 0 0 -150px;
  left: 50%;
  font-size: 14px;
  text-shadow: 0px 0px 8px #2cbbd8, 0px 0px 8px #2cbbd8;
  display: block;
}

.black_bg{
  width: 100%;
  height: 100%;
  background: url(../img/bg_1.jpg) no-repeat center 0;
  background-size: cover;
  position: absolute;
  top: 0;
  opacity: 0;
}

.ganguan_swipe{
  width: 25%;
  line-height: 26px;
  text-align: center;
  color: #fff;
  display: block;
  border: 1px solid #58769c;
  position: absolute;
  left: 50%;
  margin-left: -12.5%;
  top: 88%;
}
@-webkit-keyframes audio_anim {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0
    }
    30% {
        -webkit-transform: translate(-20px, -20px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(-30px, -30px);
        opacity: 0
    }
}
.music_btn {
    background: url("../img/music_btn.png") no-repeat center center;
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 999;
    top: 4%;
    right: 2%;
}
.border_anim .music_btn_anim {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    background: url("../img/music_sign.png") no-repeat;
    background-size: 100% 100%;
    -webkit-animation: audio_anim 2s ease-out infinite;
    -moz-animation: audio_anim 2s ease-out infinite;
    -o-animation: audio_anim 2s ease-out infinite;
    animation: audio_anim 2s ease-out infinite
}

.border_anim .iconaudio1,
.border_anim .iconaudio2,
.border_anim .iconaudio3 {
    position: relative;
    display: block
}

.border_anim .iconaudio1 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

.border_anim .iconaudio2 {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg)
}

.border_anim .iconaudio2 .music_btn_anim {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .9s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: .9s;
    -o-animation-duration: 2s;
    -o-animation-delay: 1.9s
}

.border_anim .iconaudio3 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.border_anim .iconaudio3 .music_btn_anim {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.9s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: .9s;
    -o-animation-duration: 2s;
    -o-animation-delay: 1.9s
}
@media screen and (min-height: 568px){
  #bottle_4{
    margin-top: 210px;
  }
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
  .bottles{
    margin-top: 30%;
  }
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 */
  .bottles{
    margin-top: 35%;
  }
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 Plus */
  .bottles{
    margin-top: 40%;
  }
}