html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{font-size: 62.5%;}
body {
  font-family: "intel-clear", "intel-clear-cyrillic", "SimHei","SimSun",Arial,sans-serif !important;
  line-height: 1;
  background-color: #080f18;
}
body, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  display: block;
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

video{
  width: 100%;
  position: relative;
  z-index: 2;
  top: 0;
}
.video_img{
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}
/*.bg_1{
  background: url(../img/bg_1.jpg) no-repeat center 0;
  background-size: 100% auto;
}*/
.wrapper{
  height: 100% !important;
    height: 100%;
    /*width: 100%;*/
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
}
.main{
  float: left;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: transform 0.6s ease 0s;
}
.main > *{
  width: 100%;
  height: 100%;
  position: relative;
}
.down_tip {
    position: absolute;
    background: url("../img/down.png") no-repeat;
    background-size: 14px 20px;
    bottom: 1%;
    height: 20px;
    width: 14px;
    left: 50%;
    text-align: center;
    opacity: 0;
    margin-left: -7px;
    -webkit-animation: ToptoA 1.6s ease-out infinite;
    -moz-animation: ToptoA 1.6s ease-out infinite;
    -o-animation: ToptoA 1.6s ease-out infinite;
    z-index: 100;
}
@-webkit-keyframes ToptoA {
    0% {
        -webkit-transform: translate(0, -40px);
        opacity: 0
    }
    20% {
        -webkit-transform: translate(0, -20px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 0
    }
}

@-moz-keyframes ToptoA {
    0% {
        -moz-transform: translate(0, -40px);
        opacity: 0
    }
    20% {
        -moz-transform: translate(0, -20px);
        opacity: 1
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 0
    }
}

@-o-keyframes ToptoA {
    0% {
        -o-transform: translate(0, -40px);
        opacity: 0
    }
    20% {
        -o-transform: translate(0, -20px);
        opacity: 1
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 0
    }
}
.animated {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.logo{
  position: absolute;
  left: 5%;
  top: 4%;
  z-index: 3;
  width: 38px;
  height: 24px;
  background: url("../img/logo.png") no-repeat;
  background-size: 38px 24px;
}
.slogan_wrap{
  width: 100%;
  height: 75px;
  position: absolute;
  text-align: center;
  bottom: 4%;
  z-index: 2;
}
.turn{
  width: 25px;
  display: block;
  margin: 0 auto -6px;
}
.slogan{
  min-width: 200px;
  height: 56px;
  display: inline-block;
  line-height: 56px;
  background: url(../img/slogan_bg.png) repeat-x 0 center;
  background-size: 1px 56px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin: 0 14px;
  padding: 0 3px;
  letter-spacing: 2px;
  position: relative;
}
.slogan::before,
.slogan::after{
  content: '';
  width: 14px;
  height: 56px;
  background: url(../img/slogan_left.png) no-repeat 0 center;
  background-size: 14px 56px;
  display: block;
  float: left;
  margin-left: -18px;
}
.slogan::before{
  background-image: url(../img/slogan_right.png);
  display: block;
  float: right;
  margin-right: -18px;
}
.slogan span{
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

