.bg_detail{
  background: url(../img/star_bg.jpg) no-repeat center 0;
  background-size: 100% auto;
}

@media screen and (min-width: 480px){
  .down_tip{
    display: none;
  }
  .slogan_wrap{
    bottom: 0;
  }
}
@media screen and (min-width: 568px){
  video,
  .video_img{
    margin-top: -6%;
  }
}

.slogan_wrap.slogan_top{
  bottom: auto;
  top: 10%;
}
.bottom_text{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
  color: #fffefe;
  line-height: 20px;
  font-size: 13px;
}
.page4 .slogan_top,
.page4 .bottom_text{
  opacity: 0;
}