.op0{
  opacity: 0;
}
.bg_detail{
  background: url(../img/star_bg.jpg) no-repeat center 0;
  background-size: 100% auto;
}

@media screen and (min-width: 480px){
  .down_tip{
    display: none;
  }
  .slogan_wrap{
    bottom: 0;
  }
}
@media screen and (min-width: 568px){
  video,
  .video_img{
    margin-top: -6%;
  }
}

.line_video_wrap{
  width: 100%;
  height: 100%;
  position: relative;
}
.slogan_wrap.slogan_top{
  bottom: auto;
  top: 10%;
  z-index: 3; 
}
.bottom_text{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
  color: #fffefe;
  line-height: 20px;
  font-size: 13px;
  z-index: 3;
}
.restructuring{
  text-indent: -13px;
}
.img_line_bottle{
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  /*z-index: 3;*/
}
video.video_line_bottle{
  z-index: 0;
}
.change_videos{
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
}
.change_videos > *{
  width: 100%;
  position: absolute;
  top: 0;
}
.ball_hide,
.space{
  opacity: 0;
}
.space{
  opacity: 1;
}
section.black{
  background: #000;
}
.img_line_computer{
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.default_img{
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 4;
}
.pc_info{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/computer_bg.jpg) no-repeat center bottom;
  background-size: 100% auto;
}
.microphone{
  width: 40px;
  display: block;
  margin: -16px auto -6px;
}
.shake{
  width: 60px;
  display: block;
  margin: -40px auto -10px;
}